* {
  margin: 0;
  padding: 0;
}

.topnav {
  width: 350vh;
  display: flex;
  gap: 600px;
  height: 50px;
  padding-bottom: 50px;
  font-family: 'Times New Roman', Times, serif;
  position: fixed;
  background-color: white;
  top: 0;
}

.head {
  display: flex;
  gap: 500px;
  padding-top: 40px;
}

#menubtn {
  width: 50px;
  height: 50px;
  text-align: center;
  position: fixed;
  left: 30px;
  top: 20px;
  border-radius: 3px;
  z-index: 3;
  cursor: pointer;
}

#menubtn img {
  width: 25px;
  height: auto;
  padding-top: 15px;
 
  
}

.foods {
  display: grid;
  grid-template-columns: 25% auto auto auto;
  padding-top: 200px;
  margin:40px;

}.foodstacks {
  display: grid;
  grid-template-columns: 25% auto auto auto;
  padding-top: 20px;
  margin:40px;
}

#size {
  width: 20vw;
  height: 50vh;
  margin: 10px;
}

h2 {
  text-align: center;
  margin-bottom: 5px;
  font-size: 30px;
}

.container {
  width: 300px;
  height: 80px;
  text-align: center;
  margin: 0 auto;
 
  
}

.container .tool {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
  
}

.container .tool li a {
  text-decoration: none;
}

.tool {

  width: auto;
}

.seperation {
  border-bottom: 1px solid silver;
  padding-top: 20px;
  margin: auto 70px;
}

.foodman {
  display: grid;
  justify-content: center;
  padding-top: 70px;
}

.foodman img {
  padding: 40px 0 30px 0 ;
}

.bio {
  text-align: center;
  display: block;
  line-height: 24px;
  margin: 0 100px 80px 100px;
}
 
.footer {
  display: grid;
  grid-template-columns: 30% auto auto ;
  margin: 100px;
  gap: 80px;
}

h3 {
  padding-bottom: 20px;
  font-size: 25px;
}

.blog .lorem {
  display: flex;
  gap: 5px;
  padding-bottom:12px ;
  border-bottom: 1px solid silver;
}

.blog .praes {
  display: flex;
  gap: 5px;
  padding: 20px 0 0 0;
}

.lorem {
  width: 20vw;
}

.lorem p {
  text-align: center;
  padding-top: 10px;
} 

.praes p {
  padding-top: 10px;
}

#pics {
  width: 50px;
}

.tags .tag {
 display: inline-block;
 gap: 50px;
}