* {
  margin: 0;
  padding: 0;
}

.topnav {
  width: 350vh;
  display: flex;
  gap: 600px;
  height: 50px;
  padding-bottom: 50px;
  font-family: "Times New Roman", Times, serif;
  position: fixed;
  background-color: white;
  top: 0;
}

.head {
  display: flex;
  gap: 500px;
  padding-top: 40px;
}

#menubtn {
  width: 50px;
  height: 50px;
  text-align: center;
  position: fixed;
  left: 30px;
  top: 20px;
  border-radius: 3px;
  z-index: 3;
  cursor: pointer;
}

.foodman img {
  padding: 40px 0 30px;
}

#menubtn img {
  width: 25px;
  height: auto;
  padding-top: 15px;
}

.foods {
  display: grid;
  grid-template-columns: 25% auto auto auto;
  padding-top: 200px;
  margin: 40px;
}

.foodstacks {
  display: grid;
  grid-template-columns: 25% auto auto auto;
  padding-top: 20px;
  margin: 40px;
}

.size {
  width: 20vw;
  height: 50vh;
  margin: 10px;
}

h2 {
  text-align: center;
  margin-bottom: 5px;
}

.container {
  width: 300px;
  height: 80px;
  text-align: center;
  margin: 0 auto;
}

.tool {
  color: black;
  width: auto;
}

.container .tool {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
}

.container .tool li a {
  text-decoration: none;
  color: black;
}

.container .tool li a:hover {
  background-color: black;
  margin-top: 4px;
  padding: 5px 8px;
  color: white;
}

.seperation {
  border-bottom: 1px solid silver;
  padding-top: 20px;
  margin: auto 30px;
}

.foodman {
  display: grid;
  justify-content: center;
  padding-top: 70px;
}

.bio {
  text-align: center;
  display: block;
  line-height: 24px;
  margin: 0 100px 80px;
}

.footer {
  display: grid;
  grid-template-columns: 30% auto auto;
  margin: 100px;
  gap: 50px;
}

h3 {
  padding-bottom: 20px;
  font-size: 25px;
}

.lorem {
  width: 20vw;
}

.blog .lorem {
  display: flex;
  gap: 5px;
  padding: 12px 0 12px 12px;
  border-bottom: 1px solid silver;
}

.blog .praes {
  display: flex;
  gap: 5px;
  padding: 20px 0 0;
}

.lorem p {
  text-align: center;
  padding-top: 10px;
}

.lorem:hover {
  background-color: silver;
}

.praes p {
  padding: 10px;
}

.praes:hover {
  background-color: silver;
  padding: 12px 0 12px 12px;
}

.pics {
  width: 50px;
}

.tag {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  font-size: 12px;
  color: white;
}

.span-black {
  background-color: black;
  margin-top: 4px;
  padding: 5px 8px;
}

.span-gray {
  background-color: gray;
  margin-top: 4px;
  padding: 5px 8px;
}
